
.item1 {
    grid-area: header;
    padding-bottom: 5px;
}
.item2 { grid-area: main; }
.item3 { grid-area: buttons; }
.item4 { grid-area: footer; }

html, body {
    height: 100%;
    margin: 0;
}
header{
    font-size: small;
}

.grid-container {
     min-height: 360px;
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'main main main main main buttons'
            'footer footer footer footer footer footer';

    grid-gap:5px;
    background-color: #2196F3;
    padding: 1px;

    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: auto ;
    position: center;


}

