
.item1 {
    grid-area: header;
    border-collapse: collapse;
    border: 1px solid black;
    padding-bottom: 5px;
}
.item2 { grid-area: main;
    border: 1px solid black;
    padding-top: 0;    }

.item3 { grid-area: buttons;
    border: 1px solid black;}

.item4 { grid-area: footer;
    border: 1px solid black;}

html, body { margin: 0;height: 100%;}

header{font-size: small;}

.grid-container {
     min-height: 360px;
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'main main main buttons buttons buttons'
            'footer footer footer footer footer footer';

    grid-gap:5px;
    background-color: #2196F3;
    padding: 1px;

    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: auto ;
    position: center;
}

.hStyle {text-align: center; font-family: Times New Roman; color: white; background: navy;}

img {
    border-radius: 50%;
    display: inline-block;
}


li{ margin-top: auto;
    margin-bottom: auto;    }
