
.item1 {
    grid-area: header;
    border-collapse: collapse;
    border: 1px solid black;
    padding-bottom: 5px;
}
.item2 { grid-area: main;
    border: 1px solid black;
    padding-top: 0;
    justify-content: center;}


.item3 { grid-area: buttons;
    border: 1px solid black;
text-align: center;}


.item4 { grid-area: footer;
    border: 1px solid black;}



html, body { margin: 0;height: 100%;}


.grid-container {
     min-height: 360px;
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'main main main buttons buttons buttons'
            'footer footer footer footer footer footer';

    grid-gap:0px;
    background-color:lightpink ;
    padding: 1px;

    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: auto ;
    position: center;
}


.hStyle {text-align: center;
    font-family: Times New Roman, serif; color: black; background:lightpink; font-weight: bold}

img {
    border-radius: 50%;
    display: inline-block;
    border: black 1px solid;
}


li{ margin-top: auto;
    margin-bottom: auto;
    padding-top: 1%;

    }


.liStyle{
    text-decoration: underline;
}

#ButtonFormat{
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}