img{
    height: 25%;
    width: 40%;
    padding-top: 5%;
    display: block;
    border-radius: 50%;
    border: black;

}

.container{
    float: left;
    text-align:center;
    padding: 0;
    max-width: available;
    max-height: 360px;
    padding-top: 10%;
    padding-left: 5%;

}

html, body { margin: 0;

background: lightpink}

